.container {
    display: grid;
    grid-template-columns: 50px 50px 1fr 50px 50px;
    grid-template-rows: 50px 50px 50px;
    /* row-gap: 10px; */
    /* column-gap: 10px; */
    gap: 15px 10px;
    justify-items: stretch;
    align-items: stretch;
}

.grid-item {
    background-color: yellow;
}

.chessboard {
    display: grid;
    grid-template-columns: 50px 50px;
    grid-template-rows: repeat(2, 50px);
}

.gray, .black {
    display: grid;
    justify-items: center;
    align-items: center;
}

.gray {
    background-color: gray;
}

.black {
    background-color: black;
    color: white;
}